<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>해커네컷</title>
  <link href="../static/CSS/web.css" rel="stylesheet">
</head>
<body>
  <div class="main_container">
    <div class="title_conatiner">
      <img class="message_bubble" src="../static/img/message_bubble.svg">
      <img class="title_img" src="../static/img/title.svg">
    </div>
    <div class="title_conatiner_mobile">
      <img src="../static/img/main_title_img_mobile.svg">
    </div>
    <div class="btn_container">
      <img class="btn_start" onclick="location.href='/studio'" src="../static/img/btn_start.png">
    </div>
    
  </div>
</body>
</html>